---
layout: default
---

<!-- Start Hero -->
<div id="etusivu" class="hero landing-image" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') center center no-repeat; background-size: cover;">

    <!--<div class="container-fluid">
        
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-12 form">
            <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Ota yhteyttä</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Nimi" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Puhelinnumero" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Viestisi" required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Lähetä">
            </form>
        </div>

    </div>-->
</div>
<!-- End Hero -->

<!-- Start 3 columns 
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contact Us</h3>
        <ul>
            {% if site.contact.phone %}<li><strong>Puhelinnumero:</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.emergency %}<li><strong>Emergency:</strong> {{ site.contact.emergency }}</li>{% endif %}
            {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Opening Hours</h3>
        <table>
            <tbody>
                <tr>
                    <td>Monday – Friday</td>
                    <td>{{ site.monday_friday }}</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>{{ site.saturday }}</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>{{ site.sunday }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Location</h3>
            <p>
                {{ site.contact.address }}
            </p>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="tietoa" class="about">
    <div class="container-fluid">
        <h2 class="section-title">Tietoa Meistä</h2>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Mig&Mag Service on toiminut 12 vuotta maa- ja vesirakentamisen,  louhinnan ja alan koneiden huolto- ja korjaustehtävissä. Kone- ja laitehuollon erikoisosaamisena on mm. nosturien, kaivin- ja muiden maanrakennuskoneiden väsymismurtumien korjaukset.</p>

                <p>Mig&amp;Mag Servicen työmaita vuosien varrelta ovat mm.
                  <ul>
                    <li>Länsimetron metrotyömaa</li>
                    <li>Ivalon lentokentän laajennustyömaa</li>
                    <li>Tietyömaat E105 Muurmanski - Kantalahti - Moskova ja Viipuri-Pietari</li>
                    <li>Pohjarakentaminen Jumbo ja Iso Omena -liikekeskuksiin, Lempäälän Ideaparkkiin ja Tampereen Ikealle</li>
                    <li>Louhinta- ja murskaamokohteita eri puolilla Suomea</li>
                    <li>Hiilivarastotyömaa Salmisaari Helsingissä</li>
                    <li>Kaasuputkityömaa Kouvolassa</li>
                    <li>Raskaskoneiden sopimuskorjaustoimintaa mm. Lemminkäiselle ja Peabille.</li>
                  </ul>
                </p>

            </div>

        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Treatments -->
<div id="palvelut" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Palvelut</h2>

        <div class="row">
            {% for services in site.data.services %}
                <div class="col-sm-6 col-md-6">
                    <div class="icon-box">
                        <svg class="icon {{ services.icon }}"><use xlink:href="#{{ services.icon }}"></use></svg>
                        <h4>{{ services.title }}</h4>
                        <p>{{ services.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<div id="yhteys" class="yhteys">
<h2 class="section-title" style="padding-top:30px; margin-bottom:20px;">Ota yhteyttä</h2>
    <div class="container-fluid">
        <div class="col-sm-6 col-sm-offset-6 col-md-8 col-md-offset-2 form">
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Nimi" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Puhelinnumero" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Sähköposti" required>
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Viesti" required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Lähetä">
            </form>
        </div>
    </div>
</div><br><br>
<!-- End Treatments -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <h3>Ota yhteyttä</h3>
        <ul>
            <li><strong>Email:</strong> mikko@migmag.fi</li>
        </ul>
    </div>

    <div class="col-sm-4">
    <h3></h3>
    <p>© 2016 MIG&amp;MAG Service - kaikki oikeudet pidätetään</p>
    </div>

    <div class="col-sm-4">
        <h3>Y-tunnus</h3>
        <ul>
            <li>18923954</li>
        </ul>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start Our team 
<div id="team" class="team"> 
    <h2 class="section-title">Our Team</h2> 
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
            </div>
            <div class="expandable-box-bottom">
                <span data-toggle="tooltip" data-placement="bottom" title="{{ member.email }}"><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg></span>
                <span data-toggle="tooltip" data-placement="bottom" title="{{ member.phone }}"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg></span>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- End Our team -->

<!-- Start Testimonials 
<div id="mita-sanotaan" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                {{ testimonial.name }}
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Start Gallery 
<div id="gallery" class="gallery">
        
    <h2 class="section-title">Gallery</h2>

    {% for images in site.data.gallery %}
        <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}" class="gallery-item expandable-box image-link">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
            </div>
            <div class="expandable-box-bottom">
                <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
            </div>
        </a>
    {% endfor %}

</div>
<!-- End Gallery -->

<!-- Start Map
<div id="location" class="map" data-zoom="{{ site.map.zoom }}" data-address="{{ site.map.address }}" data-address-details="<img src='{{ site.map.address_details }}'>"></div>
<!-- End Map -->
